################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/HeavyWheelMiner/obj
*.csproj
*.sln
/HelloWorld/bin/x64/Debug/netstandard2.0
/HelloWorld/obj
