################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/HeavyWheelMiner/obj
*.csproj
*.sln
